<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3CB371;
}

li {
  font-size: 18px;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FFA500;
}

h1 {
  font-size: 45px;
  color: midnightblue;
  text-align: center;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=Price], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea[name=comment], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 10%;
  margin-right:10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #008080;
}


form {
  margin-left: 35%;
  margin-right:35%;
  width: 100%;
}

</style> 

</head>


  <body>

  <nav>
    <ul>
      <li><a href="https://newsilver.herokuapp.com/admin/merchants">Merchants Lists</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/addstock/<%= data.merchant_id %>">Add Stock</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/stocklist/<%= merchant.merchant_id %>">Stock Lists</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/salesrecord/<%= merchant.merchant_id %>">Sales Record</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/payment/<%= merchant.merchant_id %>">Payment History</a></li>
    </ul>
  </nav>

  <h1>Add Stock</h1>
  

  <form id="form" action="../../admin/addstock" method="post">
    <label for="name">Merchant Name</label><br>
    <input type="text" name="name" value="<%= data.merchant_name %>" disabled/><br>
    

    <label for="name">Batch No</label><br>
    <input type="number" name="item_batch"/><br>

    <label for="name">Type</label><br>
    <input type="text" name="item_type"/><br>

    <label for="name">Quantity</label><br>
    <input type="number" name="item_qty"/><br>

    <label for="name">Unit Price</label><br>
    <input type="Price" name="item_price"/><br>    

    <label for="name">Received Date</label><br>
    <input type="date" name="item_received_date"/><br> 

    <label for="name">Comment</label><br>
    <textarea name="comment" rows="4" cols="50"></textarea><br>

    <input type="hidden" name="merchant_name" value="<%= data.merchant_name %>"/>
    <input type="hidden" name="merchant_id" value="<%= data.merchant_id %>"/>

    
    <input type="submit" name="submit"/>

  </form>

  </body>


<style>
  body {
    background-color: aquamarine;
}
</style>

</html>