<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Merchants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<style>

body {
    background-color: blanchedalmond;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3CB371;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FFA500;
}

h1 {
  font-size: 45px;
  color: midnightblue;
  text-indent: 50px;
}


table {  
  border: 3px solid;
  border-color: green;
  border-collapse: collapse;
  width: 100%;
 } 


th {
  text-align: center;
  font-size: 20px;
}

td {
  font-size: 18px;
}


th, td {
  padding: 15px;
}

</style>

 </head>



<body>

  <nav>
    <ul>
      <li><a href="https://newsilver.herokuapp.com/admin">Home</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/merchants">View Merchants</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/appointments">View Appointments</a></li>
      <li><a href="https://newsilver.herokuapp.com/logout">Logout</a></li>
    </ul>
  </nav>

  <h1>Merchants</h1>

 
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>   
    <th>Manage Stock</th>
    <th>Sales</th>
    <th>Payment</th>
    
  </tr>

  <% data.forEach(function(user){ %>
     <tr>
      
       <td><%= user.name %></td>
       <td><%= user.phone %></td>
       <td><%= user.address %></td>
     
       <td><a href="../admin/addstock/<%= user.id %>">Add Stock</a> | <a href="../admin/stocklist/<%= user.id %>">Stock List</a></td>
       <td><a href="../admin/salesrecord/<%= user.id %>">Sales Record</a></td>
       <td><a href="../admin/payment/<%= user.id %>">Payment History</a></td>
       
     </tr>
  <% }); %>


  
	</table>

 
 
  </body>

</html>