<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<style>

body {
    background-color: aquamarine;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3CB371;
}

li {
  font-size: 18px;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FFA500;
}

h1 {
  font-size: 45px;
  color: midnightblue;
  text-align: center;
}

p {
  text-indent: 80px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: purple;
}     

table {  
  border: 3px solid;
  border-color: black;
  border-collapse: collapse;
  width: 100%;
 } 

th {
  text-align: center;
  font-size: 20px;
}

td {
  font-size: 18px;
}

th, td {
  padding: 15px;
}


input[type=number], select {
  width: 15%;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  
  padding: 5px 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>

</head>



  <body>

  <nav>
    <ul>
      <li><a href="https://newsilver.herokuapp.com/admin/merchants">Merchants Lists</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/addstock/<%= merchant.merchant_id %>">Add Stock</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/stocklist/<%= merchant.merchant_id %>">Stock Lists</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/salesrecord/<%= merchant.merchant_id %>">Sales Record</a></li>
      <li><a href="https://newsilver.herokuapp.com/admin/payment/<%= merchant.merchant_id %>">Payment History</a></li>
    </ul>
  </nav>

  <h1>Stocks Lists</h1>

  <p>

    Merchant Name: <%= merchant.merchant_name %>
  <p>
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>id</th>
    <th>Batch</th>
    <th>Type</th>   
    <th>Qty</th>
    <th>Price</th>
    <th>Received Date</th>
    <th>Comment</th>
    <th>Action</th>
  </tr>

  <% data.forEach(function(batch){ %>
     <tr>
      
       <td><%= batch.id %></td>
       <td><%= batch.batch %></td>
       <td><%= batch.type %></td>
       <td><%= batch.qty %></td>
       <td><%= batch.price %></td>
       <td><%= batch.received_date %></td>
       <td><%= batch.comment %></td>

       <td>
        <form id="form" action="../../admin/stocklist" method="post">
           sale: <input type="number" name="qty" min="1" max="<%= batch.qty %>"/>
           date: <input type="date" name="date"/>
           <input type="hidden" name="batch_id" value="<%= batch.id %>"/>
           <input type="hidden" name="type" value="<%= batch.type %>"/>
           <input type="hidden" name="batch" value="<%= batch.batch %>"/>
           <input type="hidden" name="price" value="<%= batch.price %>"/>
           <input type="hidden" name="instock" value="<%= batch.qty %>"/>
           <input type="hidden" name="merchant_id" value="<%= merchant.merchant_id %>"/>
           <input type="submit" name="submit"/>
        </form>
       </td>
       
     
      
     </tr>
  <% }); %>



	</table>


  </body>

</html>