<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>View Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>







  <body>
  <h1>Appointment Lists</h1>

  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>   
    <th>Comment</th>
    <th></th>
    <th></th>
  </tr>

  <% data.forEach(function(appointment){ %>
     <tr>
      
       <td><%= appointment.name %></td>
       <td><%= appointment.date %></td>
       <td><%= appointment.time %></td>
       <td><%= appointment.comment %></td> 
       <td><%= appointment.confirmed ? "yes" : "no" %></td> 
     
      <% if(!appointment.confirmed) { %> 
        <!-- <td><a href="../admin/addstock/<%= appointment.id %>">Confirm </td> -->
     
    
    <%} %>
       <td><a href="../admin/payment/<%= appointment.id %>">Cancel</a></td>
     </tr>
  <% }); %>


  

	</table>

 
 

  </body>

</html>